@import './styles/colors';
@import './styles/mixin';

.Layout {
  @extend .display-flex;
  @extend .flex-center;
}

.Container {
  @extend .responsive-width;
  @extend .bsbb;
  padding: 20px;
  @extend .display-flex;
  @extend .flex-center;
  @extend .flex-direction-column;
}

.Logo {
  max-width: 80%;
}

.Stealth {
  margin: 50px 0;
  width: 100%;
  @extend .display-flex;
  @extend .flex-center;
  @extend .flex-direction-column;
  span {
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: $blue-grey-900;
    font-weight: 600;
  }
  code {
    width: 100%;
    @include border-radius(10px);
    background: $white;
    padding: 10px;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    @extend .bsbb;
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Cutive Mono', monospace;
  }
}

.Footer {
  @extend .display-flex;
  @extend .flex-center;
  @extend .flex-direction-column;
  font-size: 12px;
  img {
    margin: 20px 0;
    width: 50px;
  }
}
